@import "../base";

.liner {
  display: inline-block;
  background-color: $foreground-color-2;
  height: 5vh;
  border-radius: 5px;

  .line {
    background-color: $background-color-1;
    display: inline-block;
    height: 3.5vh;
    position: relative;

    h1 {
      position: relative;
      top: 0;
      display: inline-block;
      font-size: 5vh;
      font-family: sans-serif;
      margin: 0;
    }
  }
}
