@import "../base";

.about {
  background-color: $background-color-1;
  padding-top: 50px;
  
  .who-we-are {
    width: 70vw;
    margin-left: 10vw;

    p {
      margin-top: 10px;
      font-family: $serif;
    }
  }

  .bios {
    width: 70vw;
    margin-left: 10vw;

    .bio-grid {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
