@import '../base';

.index {
  background-color: $background-color-1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 35vw;
    border-radius: 40px;
    margin: 30px;
  }
}
